* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0
}
html{
  scroll-behavior: smooth;
}
p{
  font-size: 17px;
}
h1{
  font-size: 40px;
}
h3{
  font-size: 20px
}

/* Header */
header {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px 0;
  align-items: center;
  background-color: #ebf5fa;
}
.headerDiv1 {
  width: 40%;
}
.headerDiv1Img1 {
  width: 60%;
}
.headerDiv2 {
  display: flex;
  align-items: center;
  margin-right: 2%;
}
.headerDiv2H31 {
  margin-right: 5%;
  color: #154E6B;
  cursor: pointer;
}
.headerDiv2Div1 {
  margin: 0;
}
.headerDiv2Div1Img {
  width: 30%;
  cursor: pointer;
}
.headerA1{
  margin-right: 5%;
  text-decoration: none;
}
.headerA1H31 {
  color: #154E6B;
  cursor: pointer;
}
.headerA2{
  text-decoration: none;
}
.headerA2H32 {
  color: #154E6B;
  cursor: pointer;
}
/* Header */

/* Explicación */
.explicacionDiv1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 50px 0;
}
.explicacionDiv1Div1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
}
.explicacionDiv1Div1Div1 {
  margin: 0;
}
.explicacionDiv1Div1Div1H11 {
  color: #2486B7;
}
.explicacionDiv1Div1Div1H12 {
  color: #2486B7;
}
.explicacionDiv1Div1Div1H13 {
  color: #2486B7;
}
.explicacionDiv1Div1Div2 {
  margin: 40px 0 40px 0;
}
.explicacionDiv1Div1Div2P1 {
  color: #154E6B;
  margin-bottom: 0;
}
.explicacionDiv1Div1Div2P2 {
  color: #154E6B;
  margin-bottom: 0;
  margin-top: 0;
}
.explicacionDiv1Div1Div2P3 {
  color: #154E6B;
  margin-bottom: 0;
  margin-top: 0;
}
.explicacionDiv1Div1Div2P4 {
  color: #154E6B;
  margin-bottom: 0;
  margin-top: 0;
}
.explicacionDiv1Div1Div2P5 {
  color: #154E6B;
  margin-bottom: 0;
  margin-top: 0;
}
.explicacionDiv1Div1Div2P6 {
  color: #154E6B;
  margin-top: 0;
}
.explicacionDiv1Div1Div3 {
  margin: 0;
}
.explicacionDiv1Div1Div3Button1 {
  height: 50px;
  width: 280px;
  color: white;
  background-color: #2486B7;
  border: none;
  border-radius: 10px;
  font-size: 100%;
  cursor: pointer;
}
.explicacionDiv1Div2 {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content:flex-end
}
.explicacionDiv1Div2Img1 {
  width: 80%;
}
/* Explicación */

/* Proceso */
.procesoDiv1 {
  margin-bottom: 30px;
}
.procesoDiv1Div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.procesoDiv1Div1H11 {
  color: #154E6B;
}
.procesoDiv2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.procesoDiv2Div1 {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  align-items: center;
  justify-content: center;

}
.procesoDiv2Div1>div {
  width: 100%;
  height: 220px;
  background-color: #ebf5fa;
  /* outline: 1px solid black; */
  flex: 1 0 20%;
  margin: 10px;
  border-radius: 5px;
}
.procesoDiv2Div1Div1 {
  display: block;
}
.procesoDiv2Div1Div1Div1,
.procesoDiv2Div1Div2Div1,
.procesoDiv2Div1Div3Div1,
.procesoDiv2Div1Div4Div1,
.procesoDiv2Div1Div5Div1,
.procesoDiv2Div1Div6Div1,
.procesoDiv2Div1Div7Div1,
.procesoDiv2Div1Div8Div1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.procesoDiv2Div1Div1Div1>h1,
.procesoDiv2Div1Div2Div1>h1,
.procesoDiv2Div1Div3Div1>h1,
.procesoDiv2Div1Div4Div1>h1,
.procesoDiv2Div1Div5Div1>h1,
.procesoDiv2Div1Div6Div1>h1,
.procesoDiv2Div1Div7Div1>h1,
.procesoDiv2Div1Div8Div1>h1 {
  font-size: 40px;
  margin-bottom: 5%;
  color: #2486B7;
}
.procesoDiv2Div1Div1Div1>p,
.procesoDiv2Div1Div2Div1>p,
.procesoDiv2Div1Div3Div1>p,
.procesoDiv2Div1Div4Div1>p,
.procesoDiv2Div1Div5Div1>p,
.procesoDiv2Div1Div6Div1>p,
.procesoDiv2Div1Div7Div1>p,
.procesoDiv2Div1Div8Div1>p {
  color: #2486B7;
}
/* Proceso */

/* Alcance */
.alcanceDiv1{
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}
.alcanceDiv1Div1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alcanceDiv1Div1H11{
  color: #154E6B;
}
.alcanceDiv2Div1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.alcanceDiv2Div1Img1{
  width: 70%;
}
/* Alcance */

/* Colaboración */
.colaboracionDiv1 {
  display: block;
  margin-top: 70px;
}
.colaboracionDiv1Div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colaboracionDiv1Div1Img1 {
  width: 15%;
}
.colaboracionDiv2 {
  display: block;
  margin-top: 20px;
}
.colaboracionDiv2Div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.colaboracionDiv2Div1P1 {
  color: #154E6B;
  width: 90%;
}
.colaboracionDiv2Div1P2 {
  color: #154E6B
}
/* Colaboración */

/* Footer */
.footerDiv1 {
  display: block;
  margin-top: 70px;
  padding: 80px 0 80px 0;
  background-color: #ebf5fa;
}
.footerDiv1Div1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerDiv1Div1Img1 {
  width: 30%;
}
/* Footer */

/* Media Queries */
/* Extra small devices (phones, 0px - 599px) */
@media only screen and (max-width: 600px) {
  p{
    font-size: 14px;
  }
  .procesoDiv2Div1 > div{
    height: 160px;
    flex: 1 0 60%;
  }
  .explicacionDiv1Div2{
    display: none;
  }
  .headerDiv2, .headerA1, .headerA2{
    display: none;
  }
  .headerDiv1Img1{
    width: 160%;
  }
  .explicacionDiv1{
    margin-top: 30px;
  }
  .headerDiv1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px - 767px) */
@media only screen and (min-width: 600px) {
  p{
    font-size: 12px;
  }
  .procesoDiv2Div1 > div{
    height: 120px;
    flex: 1 0 40%;
  }
  .explicacionDiv1Div2{
    display: none;
  }
  .headerDiv2, .headerA1, .headerA2{
    display: none;
  }
  .headerDiv1Img1{
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px - 991px) */
@media only screen and (min-width: 768px) {
  p{
    font-size: 13px;
  }
  .procesoDiv2Div1 > div{
    height: 140px;
    flex: 1 0 30%;
  }
  .explicacionDiv1Div2{
    display: flex;
  }
  .headerA1, .headerA2{
    display: block;
  }
  .headerDiv2{
    display: flex;
  }
  .headerDiv1Img1{
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px - 1199px) */
@media only screen and (min-width: 992px) {
  p{
    font-size: 13px;
  }
  .procesoDiv2Div1 > div{
    height: 180px;
    flex: 1 0 20%;
  }
  .explicacionDiv1Div2{
    display: flex;
  }
}

/* Extra large devices (large laptops and desktops, 1200px - infinite px) */
@media only screen and (min-width: 1200px) {
  p{
    font-size: 17px;
  }
  .procesoDiv2Div1 > div{
    height: 220px;
  }
  .explicacionDiv1Div2{
    display: flex;
  }
}
/* Media Queries */


/* Original */
/* p{
  font-size: 17px;
}
h1{
  font-size: 40px;
}
h3{
  font-size: 20px
} */
/* Original */